@import '~node_modules/modern-normalize/modern-normalize.css';

.class {
  font-size: 50px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input {
  display: block;
  margin-bottom: 40px;
}

.form textarea {
  resize: none;
  display: block;
  margin-bottom: 40px;
}

.gameBoard {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
  display: none;
}

.gameElement {
  width: 100px;
  height: 100px;
  background-color: green;
  position: absolute;
}

.counter {
  position: absolute;
  top: 0;
  left: 50%;

  color: red;
  font-size: 100px;
  z-index: 1;
}

.gameElement:nth-child(2) {
  top: 0;
  right: 0;
}

.gameElement:nth-child(3) {
  top: 400px;
  right: 0;
}

.gameElement:nth-child(4) {
  top: 600px;
  right: 0;
}

.gameElement:nth-child(5) {
  top: 50%;
  right: 50%;
}
