/* Селектор класу */
.list {
}
/* # - id */
#ul {
  background-color: black;
}

.input {
  display: block;
  background-color: yellow;
}

.wrong-input {
  display: block;
  background-color: red;
}

.cursor {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: top 0.1s linear, left 0.1s linear;
  z-index: 1000;
}

html {
  cursor: none;
}

body {
  cursor: none;
}

button {
  cursor: none;
}

.block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: brown;
}

