<template id="template">
  <section class="">
    <div class="container">
      <h2 class="heading">{{title}}</h2>

      <ul class="list">
        <li class="list-item">
          <p class="list-p">{{text}}</p>
        </li>
        <li class="list-item">
          <p class="list-p">{{text}}</p>
        </li>
        <li class="list-item">
          <p class="list-p">{{text}}</p>
        </li>
        <li class="list-item">
          <p class="list-p">{{text}}</p>
        </li>
        <li class="list-item">
          <p class="list-p">{{text}}</p>
        </li>
      </ul>
    </div>
  </section>
</template>
